 body{background-color: rgba(255, 249, 250, 0.034);
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-align: center;
     padding: 10px;
     font-weight: bold;
     box-sizing: border-box;
     color: black;
     }
h1{ color: rgb(14, 1, 1);
    font-family: sans-serif;
    text-transform: capitalize;
    text-decoration-line: underline;}

section {background-color: rgba(90, 87, 87, 0.062);
    margin: 10px;
    width: 30%;
    height:auto;
    border: 2px solid black; }
        
    div section{position: relative;
            float: left;}

section p {position: relative;
           clear: top left;
           color: white;
           margin-top: 0px;
           float: right ;
           border: 2px solid black;
           border-top: 0px;
           border-right: 0px;}

    .a{background-color: rgba(212, 91, 35, 0.938);}
    .b{background-color: rgba(240, 14, 63, 0.959);}
    .c{background-color: rgba(230, 22, 202, 0.945);}

    article{padding: 20px;
     margin-top: 21px;}


    @media (min-width :992px) {
        section {width: 31.32%; } p{width: 30%;}
    }
    @media (min-width :768px) and (max-width:991px) {
        section {width: 45%; } p{width:30%} .m{width: 95%} .m p{width: 14.6%}
    }
    @media (max-width :767px) {
        section {width: 95%; } p{width:40%}
    }
